@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #3f3f46;
  --background: #fafafa;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}
